@import "tailwindcss";

@theme {
  --color-primaryColor-50:  oklch(0.9517 0.0199 267.29);
  --color-primaryColor-100: oklch(0.8558 0.0706 267.20);
  --color-primaryColor-200: oklch(0.7819 0.0956 265.75);
  --color-primaryColor-300: oklch(0.6842 0.1436 264.73);
  --color-primaryColor-400: oklch(0.6271 0.1722 263.91);
  --color-primaryColor-500: oklch(0.5461 0.2152 262.88);
  --color-primaryColor-600: oklch(0.5104 0.1997 262.97);
  --color-primaryColor-700: oklch(0.4278 0.1638 262.97);
  --color-primaryColor-800: oklch(0.3587 0.1329 263.04);
  --color-primaryColor-900: oklch(0.3035 0.1061 263.11);
}
